project = "your_project_id"

public_key_path = "~/.ssh/appuser.pub"

private_key_path = "~/.ssh/appuser"

disk_image = "reddit-base"

n_instances = 1

app_disk_image = "reddit-app-base"

db_disk_image = "reddit-db-base"
